  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Itim&family=Lilita+One&family=Tinos:ital,wght@1,700&family=VT323&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Itim&family=Lilita+One&family=Modak&family=Tinos:ital,wght@1,700&family=VT323&display=swap');

  * {
      margin: 0;
      padding: 0;
      border: none;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
  }

  .A5 {
      text-align: center;
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(3, 3, 3);
      padding-bottom: 12px;
  }

  h1 {
      padding-left: 60px;
      color: #fff4f4;
      font-size: 30px;
      font-family: 'ADLaM Display', cursive;
  }

  h4 {
      color: #fff4f4;
      font-size: 30px;
      font-family: 'ADLaM Display', cursive;

  }

  body {
      background-image: url(Imagens/personalidades.png);
      background-size: 110%;
  }

  nav {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000000;
      position: fixed;
      color: white;

  }

  .nav-home {
      float: right;
      padding-left: 15px;
      padding-right: 15px;
  }

  .nav-home1{
    float: left;
  }

  .logo{
    width: 100px;
    margin-left: 50px;
  }


  .nav-home .nav-conteudo {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: normal;
      font-size: 35px;
      display: block;
      color: rgb(255, 255, 255);
      padding: 20px 25px;
      text-decoration: none;
      transition: transform .2s;
      margin-top: 10px;
      
  }

  .nav-home .nav-conteudo:hover {
      background-color: #4d4d4d;
      transform: scale(1.1);
      color: #ffffff;
      border-radius: 12px;
  }

  :root {
      --gradiente: linear-gradient(to right, rgb(37, 37, 37), rgb(75, 74, 74));
  }

  .container {
      max-width: 1230px;
      margin: auto;
      display: grid;
      grid-template-areas: "main";
      width: 100%;
  }


  .nav-conteudo:hover {
      color: black;
      transition: 0.3s;
  }

  .cardIVocatest {
      margin-top: 140px;
      margin-bottom: 20px;
      font-size: 18px;
      background-color: #ffffff;
      padding: 20px 35px;
      width: 700px;
  }

  .card-item:hover {
      transform: scale(1.1);

  }

  .conteudoDentro {
      text-indent: 2cm;
      padding-bottom: 10px;
      padding-top: 10px;
  }

  .divfooter {
      text-align: center;
      background-color: #383737;
      padding-top: 50px;
      padding-left: 20px;


  }

  ul {
      padding-top: 10px;
      text-align: center;
  }

  .footer {
      margin-top: 10px;
      left: 0;
      bottom: 0;
      list-style-type: none;
      height: 350px;
      overflow: hidden;
      background-color: #383737;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      color: #969494;
      font-size: 15px;
      font-family: 'ADLaM Display', cursive;
  }

  ul a {
      color: white;
  }

   nav li {
        color: white;
  }

  @media(max-width: 900px) and (min-width: 600px) {
    
  }