@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor-letraVar: rgb(0, 0, 0);
    --cor-principal: rgb(255, 255, 255);
    --cor-verde: #76b4a9;
    --cor-verdeEscuro: #2E7366;
    --cor-amarela: #f3d46d;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 3% 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "h h"
        "m m"
        "f f";
}

header {
    grid-area: h;
    background-color: var(--cor-fundo3);
    width: 100%;
}

main {
    grid-area: m;
    display: inline;

}


.A5 {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    padding-bottom: 12px;
}

h2 {
    color: #ffffff;
}

h1 {
    padding-left: 60px;
    color: #ffffff;
    font-size: 30px;
    font-family: 'ADLaM Display', cursive;
}

h4 {
    color: #fff4f4;
    font-size: 30px;
    font-family: 'ADLaM Display', cursive;

}

body {
    background-color: var(--cor-verde);
    padding: 0;
}

img {
    width: 400px;
}

.logo1 {
    width: 65px;
    margin-left: 150px;
}

.tudo-menu {
    padding: 0;
    margin: auto;
    background-color: var(--cor-verde);
    color: white;
    display: inline;
}

.topnav {
    overflow: hidden;
    background-color: var(--cor-verdeEscuro);
    position: relative;
}

.topnav #links-menu {
    display: none;
}

.tudo-menu h1 {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.topnav a {
    background: var(--cor-verdeEscuro);
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.4s;
}

.topnav a.icon {
    background: var(--cor-verdeEscuro);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.topnav a.icon :hover {
    background-color: #ddd;
    color: black;
    transition: 0.4s;
}


.topnav a:hover {
    background-color: #ddd;
    color: var(--cor-verdeEscuro);
}

.container {
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas: "main";
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 70px;
}

.container2 {
    height: 110vh;
    margin: auto;
    display: grid;
    grid-template-areas: "main";
    width: 100%;
    display: grid;
}

.container3 {
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas: "main";
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--cor-amarela);

}

.cardIVocatest {
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    background-color: #2E7366;
    padding: 20px 35px;
    width: 800px;
    border-radius: 12px;
    margin-left: 120px;
}

.cardIVocatest1 {
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    background-color: #f5df96;
    padding: 20px 35px;
    width: 800px;
    border-radius: 12px;
    margin-left: 20px;
}


.cardIVocatest2 {

    margin-bottom: 70px;
    font-size: 18px;
    background-color: var(--cor-verdeEscuro);
    padding: 20px 35px;
    width: 1000px;
    border-radius: 12px;
    margin-left: 500px;
}

.containerr2 {
    text-align: center;
    color: var(--cor-verdeEscuro);
    font-size: 100px;
}

.cardIVocatest3 {
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 20px 35px;
    width: 750px;
    border-radius: 12px;
    margin-left: 180px;
}

.cardIVocatest4 {
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    background-color: #f5df96;
    padding: 20px 35px;
    width: 750px;
    border-radius: 12px;
    margin-left: 20px;

}



.card-item:hover {
    transform: scale(1.1);

}

.conteudoDentro {
    text-indent: 2cm;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #ffffff;
}

.divfooter {
    text-align: center;
    background-color: #2E7366;
    padding-top: 50px;
    padding-left: 20px;


}

ul {
    padding-top: 10px;
    text-align: center;
}

footer {
    grid-area: f;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    background-color: #2E7366;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #ffffff;
    font-size: 15px;
    font-family: 'ADLaM Display', cursive;
}

ul a {
    color: rgb(255, 251, 251);
}



/* Henrique*/