  :root{
    --cor-letraVar: rgb(0, 0, 0);
    --cor-principal: rgb(255, 255, 255);
  }
  
  * {
      margin: 0;
      padding: 0;
      border: none;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
  }

  .A5 {
      text-align: center;
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(0, 0, 0);
      padding-bottom: 12px;
  }

  h1 {
      padding-left: 60px;
      color: #ffffff;
      font-size: 30px;
      font-family: 'ADLaM Display', cursive;
  }

  h4 {
      color: #fff4f4;
      font-size: 30px;
      font-family: 'ADLaM Display', cursive;

  }

  body {
      background-image: url(Imagens/personalidades.png);
      background-size: 110%;
  }

  .logo1 {
      width: 65px;
      margin-left: 150px;
  }

  .container {
      max-width: 1230px;
      margin: auto;
      display: grid;
      grid-template-areas: "main";
      width: 100%;
  }


  .cardIVocatest {
      margin-top: 70px;
      margin-bottom: 20px;
      font-size: 18px;
      background-color: #ffffff;
      padding: 20px 35px;
      width: 700px;
      border-radius: 12px;
  }

  .card-item:hover {
      transform: scale(1.1);

  }

  .conteudoDentro {
      text-indent: 2cm;
      padding-bottom: 10px;
      padding-top: 10px;
  }

  .divfooter {
      text-align: center;
      background-color: #383737;
      padding-top: 50px;
      padding-left: 20px;


  }

  ul {
      padding-top: 10px;
      text-align: center;
  }

  .footer {
      margin-top: 10px;
      left: 0;
      bottom: 0;
      list-style-type: none;
      height: 350px;
      overflow: hidden;
      background-color: #383737;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      color: #ffffff;
      font-size: 15px;
      font-family: 'ADLaM Display', cursive;
  }

  ul a {
      color: rgb(255, 251, 251);
  }



  /* Henrique*/

  .nav {
      height: 70px;
      width: 100%;
      padding: 50px;
      background-color: rgb(255, 187, 62);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav .nav-list :hover {
    
    transform: scale(1.2);
    border-radius: 12px;
    transition: 0.4s;
}


  .logo {
      font-size: 48px;
  }

  .nav-list {
    margin-right: 110px;
      display: flex;
      gap: 32px;
      list-style: none;
     
  }

  .nav-list a {
      font-size: 20px;
      color: var(--cor-principal);
      padding-block: 16px;
      font-family: 'ADLaM Display', cursive;    
  }

  .hamburger {
      display: none;
      border: none;
      background: none;
      border-top: 3px solid var(--cor-principal);
      cursor: pointer;
  }

  .hamburger::after,
  .hamburger::before {
      content: " ";
      display: block;
      width: 30px;
      height: 3px;
      background: var(--cor-principal);
      margin-top: 5px;
      position: relative;
      transition: 0.3s;
  }

  @media (max-width: 750px) {
      .hamburger {
          display: block;
          z-index: 1;
      }

      .nav-list {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background:orange;
          clip-path: circle(100px at 90% -15%);
          transition: 1s ease-out;

          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          gap: 0;

          pointer-events: none;
      }

      .nav-list a {
          font-size: 24px;
          opacity: 0;
      }

      .nav-list li:nth-child(1) a {
          transition: 0.5s 0.2s;
      }

      .nav-list li:nth-child(2) a {
          transition: 0.5s 0.4s;
      }

      .nav-list li:nth-child(3) a {
          transition: 0.5s 0.6s;
      }


      .nav.active .nav-list {
          clip-path: circle(1500px at 90% -15%);
          pointer-events: all;
      }

      .nav.active .nav-list a {
          opacity: 1;
      }

      .nav.active .hamburger {
          position: fixed;
          top: 26px;
          right: 16px;
          border-top-color: transparent;
      }

      .nav.active .hamburger::before {
          transform: rotate(135deg);
      }

      .nav.active .hamburger::after {
          transform: rotate(-135deg);
          top: -7px;
      }
  }

  @media(max-width: 900px) and (min-width: 600px) {
    .cardIVocatest {
        width: 400px;
        margin: auto;
    }

    
  }

  @media(max-width: 600px) and (min-width: 300px) {
    .footer {
        font-size: small;
    }

    .cardIVocatest {
        width: 250px;
        margin: auto;
    }
  }
